doctype html
html(ng-app='zombie-pets', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Zombie Pets
    link(href='/vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    link(href='/index.css', rel='stylesheet')
  body(ng-controller='MainController')
    .container
      .row
        .col-xs-12
          h1 {{title}}
      .row
        .col-xs-12
          #cage(ng-show='player1 && player2')
            .pet
              .image(style='background-image:url("{{player1.photo}}");')
              h6 Name: {{player1.name}}
              h6 Health: {{player1.health}}
              h6 Weapon: {{player1.weapon.name}}
              h6 Damage: {{player1.weapon.damage}}
            .pet
              .image(style='background-image:url("{{player2.photo}}");')
              h6 Name: {{player2.name}}
              h6 Health: {{player2.health}}
              h6 Weapon: {{player2.weapon.name}}
              h6 Damage: {{player2.weapon.damage}}
            button.btn.btn-danger.btn-lg FIGHT!!!
      .row
        .col-xs-3
          h4 Create Weapon
          button.btn.btn-success(ng-click='toggleWeapon()') Toggle Form
          form(role='form', novalidate, ng-hide='hideWeapon', name='weaponForm')
            .form-group
              label(for='name') Name
              input.form-control#name(ng-minlength='3', ng-maxlength='10', required, ng-model='weapon.name', type='text', name='name', autofocus)
            .form-group
              label(for='photo') Photo
              input.form-control#photo(ng-pattern='/^http/', required, ng-model='weapon.photo', type='text', name='photo')
            .form-group
              label(for='damage') Damage
              input.form-control#damage(required, ng-model='weapon.damage', type='number', name='damage')
            button.btn.btn-primary(type='submit', ng-show='weaponForm.$valid', ng-click='addWeapon()') Add Weapon
        .col-xs-3
          h4 Create Pet
          button.btn.btn-success(ng-click='togglePet()') Toggle Form
          form(role='form', novalidate, ng-hide='hidePet', name='petForm')
            .form-group
              label(for='name') Name
              input.form-control#petname(required, ng-model='pet.name', type='text', name='name')
            .form-group
              label(for='photo') Photo
              input.form-control#petphoto(ng-pattern='/^http/', required, ng-model='pet.photo', type='text', name='photo')
            .form-group
              label Health
              input.form-control(type='number', readonly, ng-model='pet.health')
            .form-group
              label(for='weapon')
              select(name='weapon', ng-model='pet.weapon')
                option(ng-repeat='w in weapons', value='{{$index}}') {{w.name}}
            button.btn.btn-primary(type='submit', ng-show='petForm.$valid', ng-click='addPet()') Add Pet
        .col-xs-6
      .row
        .col-xs-12
          .weapon(ng-repeat='w in weapons')
            .image(style='background-image:url("{{w.photo}}");')
            h6 Name: {{w.name}}
            h6 Damage: {{w.damage}}
      .row
        .col-xs-12
          .pet(ng-repeat='p in pets')
            .image(style='background-image:url("{{p.photo}}");')
            h6 Name: {{p.name}}
            h6 Health: {{p.health}}
            h6 Weapon: {{p.weapon.name}}
            button.btn.btn-danger(ng-click='setPlayer(1)') 1
            button.btn.btn-danger(ng-click='setPlayer(2)') 2
      .row
        .col-xs-12
          pre {{weapon | json}}
          pre {{weapons | json}}
          pre {{pet | json}}
          pre {{pets | json}}
          pre {{player1 | json}}
          pre {{player2 | json}}

    script(src='/vendor/angular/angular.js')
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/index.js')

